# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.*
!.env.example
.phpunit.result.cache

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Logs
*.log

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so
